@charset "utf-8";

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  overflow: hidden;
  background: #000;
}

@media (max-width: 767px) {

  html,
  body {
    font-size: 80%;
  }
}

@media (max-width: 640px) {

  html,
  body {
    font-size: 60%;
  }
}

@media (max-width: 480px) {

  html,
  body {
    font-size: 40%;
  }
}

.inner,
.nav-panel ul .nav-btn:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
}

.scene {
  width: 100%;
  height: 100%;
}

.page {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity .7s, z-index .7s, -webkit-transform .7s;
  transition: transform .7s, opacity .7s, z-index .7s;
  transition: transform .7s, opacity .7s, z-index .7s, -webkit-transform .7s;
  will-change: transform, opacity;
}

.page:nth-child(1) .left {
  background-image: url("../img/1.jpg");
}

.page:nth-child(1) .right {
  background-image: url("../img/2.jpg");
}

.page:nth-child(2) .left {
  background-image: url("../img/3.jpg");
}

.page:nth-child(2) .right {
  background-image: url("../img/4.jpg");
}

.page:nth-child(3) .left {
  background-image: url("../img/5.jpg");
}

.page:nth-child(3) .right {
  background-image: url("../img/1.jpg");
}

.page:nth-child(4) .left {
  background-image: url("../img/2.jpg");
}

.page:nth-child(4) .right {
  background-image: url("../img/3.jpg");
}

.page.active {
  z-index: 5;
  transition: opacity .7s, z-index 0s .7s, -webkit-transform .7s;
  transition: transform .7s, opacity .7s, z-index 0s .7s;
  transition: transform .7s, opacity .7s, z-index 0s .7s, -webkit-transform .7s;
}

.page.active .half {
  -webkit-transform: translateX(0) !important;
  transform: translateX(0) !important;
  transition: -webkit-transform .7s ease-out;
  transition: transform .7s ease-out;
  transition: transform .7s ease-out, -webkit-transform .7s ease-out;
}

.page.previous {
  opacity: 0.4 !important;
  visibility: visible !important;
  transition: opacity .7s, z-index 0s, -webkit-transform .7s;
  transition: transform .7s, opacity .7s, z-index 0s;
  transition: transform .7s, opacity .7s, z-index 0s, -webkit-transform .7s;
}

.page.small {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
}

.page.small .half {
  -webkit-transform: translateX(0) !important;
  transform: translateX(0) !important;
}

.page:nth-child(2) .left {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.page:nth-child(2) .right {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.page:nth-child(3) .left {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.page:nth-child(3) .right {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.page:nth-child(4) .left {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.page:nth-child(4) .right {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.page:nth-child(5) .left {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.page:nth-child(5) .right {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.page:nth-child(6) .left {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.page:nth-child(6) .right {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.page:nth-child(7) .left {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.page:nth-child(7) .right {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.page:nth-child(8) .left {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.page:nth-child(8) .right {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.page:nth-child(9) .left {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.page:nth-child(9) .right {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.page:nth-child(10) .left {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.page:nth-child(10) .right {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.half {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background-size: cover;
  transition: -webkit-transform .7s ease-in;
  transition: transform .7s ease-in;
  transition: transform .7s ease-in, -webkit-transform .7s ease-in;
  will-change: transform;
}

.half.left {
  left: 0;
}

.half.right {
  left: 50%;
}

.half.withText:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.heading {
  position: absolute;
  z-index: 500;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 3.5rem;
  color: #fff;
  font-family: Decade;
}

.nav-panel {
  position: fixed;
  top: 50%;
  right: 2%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1000;
  transition: opacity 0.5s, -webkit-transform 0.5s cubic-bezier(0.57, 1.2, 0.68, 2.6);
  transition: opacity 0.5s, transform 0.5s cubic-bezier(0.57, 1.2, 0.68, 2.6);
  transition: opacity 0.5s, transform 0.5s cubic-bezier(0.57, 1.2, 0.68, 2.6), -webkit-transform 0.5s cubic-bezier(0.57, 1.2, 0.68, 2.6);
  will-change: transform, opacity;
}

.nav-panel.invisible {
  opacity: 0;
  -webkit-transform: translateY(-50%) scale(0.5);
  transform: translateY(-50%) scale(0.5);
}

.nav-panel ul {
  list-style-type: none;
}

.nav-panel ul .nav-btn {
  position: relative;
  overflow: hidden;
  width: 1rem;
  height: 1rem;
  margin-bottom: 0.5rem;
  border: 0.12rem solid #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: border-color, -webkit-transform 0.3s;
  transition: border-color, transform 0.3s;
  transition: border-color, transform 0.3s, -webkit-transform 0.3s;
  will-change: border-color, transform;
}

.nav-panel ul .nav-btn:after {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.3);
  transform: translateX(-50%) translateY(-50%) scale(0.3);
  background-color: #fff;
  opacity: 0;
  transition: opacity 0.3s, -webkit-transform;
  transition: transform, opacity 0.3s;
  transition: transform, opacity 0.3s, -webkit-transform;
  will-change: transform, opacity;
}

.nav-panel ul .nav-btn.active:after,
.nav-panel ul .nav-btn:hover:after {
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.7);
  transform: translateX(-50%) translateY(-50%) scale(0.7);
  opacity: 1;
}

.nav-panel ul .nav-btn:hover {
  border-color: yellow;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.nav-panel ul .nav-btn:hover:after {
  background-color: yellow;
}

.nav-panel .scroll-btn {
  position: absolute;
  left: 0;
  width: 1rem;
  height: 1rem;
  border: 0.2rem solid #fff;
  border-left: none;
  border-bottom: none;
  cursor: pointer;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  transition: border-color 0.3s;
}

.nav-panel .scroll-btn.up {
  top: -1.6rem;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.nav-panel .scroll-btn.down {
  bottom: -1.2rem;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.nav-panel .scroll-btn:hover {
  border-color: yellow;
}

.check-out {
  z-index: 1000;
  position: absolute;
  bottom: 1rem;
  left: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  font-family: Decade;
  font-size: 1rem;
  text-transform: uppercase;
}

.check-out a {
  color: #ffaaaa;
  text-decoration: none;
  border-bottom: 0.2rem solid;
}